<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/ballet.png" type="image/x-icon">
    <title>La danza no descansa</title>
    <link rel="stylesheet" href="./estilo.css" />
    <!-- CSS only -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
    />
</head>

<body>
    <div class="container mt-5">
        <h2 class="fw-bold mb-4 text-center ">Ingrese los datos de la Academia</h2>
        <form>
            <div class="mb-3">
                <label for="nombreAcademia" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombreAcademia" name="nombreAcademia" required>
            </div>
            <div class="mb-3">
                <label for="direccionAcademia" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccionAcademia" name="direccionAcademia" required>
            </div>
            <div class="mb-3">
                <label for="emailAcademia" class="form-label">Email</label>
                <input type="email" class="form-control" id="emailAcademia" name="emailAcademia" required>
            </div>
            <div class="mb-3">
                <label for="telefonoAcademia" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" id="telefonoAcademia" name="telefonoAcademia" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>