/*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: content-box;
}*/
.header{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    width: 100%;
}
.nav-header{
    margin-top: 30px;
    margin-left: 30px;
}
.nav-header img{
    width: 4em;
}
.nav-header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-header ul li a{
    margin: 30px;
    color: #000;
}
.nav-header ul li a h1{
    padding: 0 50px;
}
/*Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy*/
