<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/ballet.png" type="image/x-icon">
    <title>La danza no descansa</title>
    <link rel="stylesheet" href="./estilo.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="./img/ballet.png" class="img-nav" alt="Logo Danza no descansa" />
          INSTITUTO NACIONAL DE DANZAS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto.html">Contacto</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Registros</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                <li><a class="dropdown-item" href="academia.html">Academia</a></li>
                <li><a class="dropdown-item" href="#">Profesores</a></li>
                <li><a class="dropdown-item" href="#">Alumnos</a></li>
                <li><a class="dropdown-item" href="#">Eventos</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
    <main>
     <section class="container-xl">
        <div class="row">
            <div class="col">
                <h2>Visión</h2>
                <p>En el Instituto Nacionales de Danzas, construimos una comunidad vibrante.Celebramos la diversidad y fomentamos un ambiente inclusivo donde cada individuo se sienta valorado y respetado. 
                    aquí encontrarás un espacio donde las conexiones personales se fortalecen a través de la danza, creando lazos duraderos entre estudiantes, familias e instructores.
                </p>
            </div>
            <div class="col">
                <h2>Misión</h2>
                <p>Nos dedicamos fervientemente a preservar y difundir las tradiciones de las danzas, reconociendo el valor intrínseco de cada ritmo, gesto y expresión que define la identidad cultural.
                      Creemos en el poder de la danza como medio de conexión con nuestras raíces, y trabajamos incansablemente para transmitir ese conocimiento a las generaciones presentes y futuras.
                      Te invitamos a explorar el fascinante mundo de las danzas con nosotros. Ya seas un principiante entusiasta o un bailarín experimentado, en el Instituto Nacional de Danzas, encontrarás un lugar donde tu amor por la danza y tu conexión con la cultura
                      se fusionarán en una experiencia única e inolvidable.
                      ¡Únete a nosotros y déjanos guiarte en este apasionante viaje cultural a través de la danza!</p>
            </div>
        </div>
        
    </section>
    
    </main>
</body>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
crossorigin="anonymous"
></script>
<footer class="pie-pagina mt-5">
  <div class="contenedor">
      <div class="logo-redes">
          <div class="logo">
              <a href="#">
                  <img src="./img/ballet.png" alt="Logo Danza no descansa">
              </a>
          </div>
          <div class="redes">
              <a href="#" class="fa fa-facebook" aria-label="Facebook"></a>
              <a href="#" class="fa fa-instagram" aria-label="Instagram"></a>
              <a href="#" class="fa fa-twitter" aria-label="Twitter"></a>
              <a href="#" class="fa fa-youtube" aria-label="YouTube"></a>
          </div>
      </div>
      <div class="info">
          <h2>Sobre Nosotros</h2>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quibusdam.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, numquam.</p>
      </div>
  </div>
  <div class="derechos">
      <small>&copy; <span id="currentYear"></span> <b>La Danza no descansa</b> - Todos Los Derechos Reservados</small>
  </div>
</footer>
</html>